aif360[inFairness,Reductions]==0.6.1
fairlearn==0.13.0

numpy==2.0.2
pandas==2.2.2
scipy==1.15.3
scikit-learn==1.6.1

matplotlib==3.10.0
seaborn==0.13.2

torch==2.10.0
transformers==4.57.1
datasets==3.2.0
accelerate==1.2.1

tqdm==4.67.3
ipykernel==6.29.5
notebook==7.2.2
